*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.agents/
*.exe
temp_so/
/Shift
all_logcat.txt
crash_log.txt
recent_log.txt
log.txt
screen.png
*.cs
TestScript.kt
stream.json
script.py
test.kt
testApi*.ps1
timeCheck.ps1
activities.json
api.json
openapi.json
walton.json
settings.b64
settings.pb
settings5556.b64
template/

